.header {
  margin: 20px auto;
  padding-top: 10px;
  border-top: 1px solid var(--transparent-black);
  display: flex;
  justify-content: space-between;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.header__logo {
  width: 74px;
  height: 19px;
  background-image: url(../../images/Dana\ Kun.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.header__timezone {
  font-family: "OpenSans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  color: var(--semi-black);

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header__links {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 5px;
  margin: 0;
}

.header__links-link {
  text-decoration: none;
  color: var(--semi-black);
  font-family: "OpenSans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 16px;
}

.header__links-link:hover {
  color: var(--black);
}

.header__timezone-time {
  font-family: "OpenSans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  color: var(--semi-black);
  text-transform: uppercase;
}

.header__timezone-location {
  font-family: "OpenSans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  color: var(--semi-black);
}

@media screen and (max-width: 1070px) {
  .header__links {
    font-size: 16px;
    gap: 7px;
    padding: 0;
  }
  .header__links-link {
    font-size: 16px;
  }
}

@media screen and (max-width: 840px) {
  .header {
    justify-content: space-evenly;
  }
  .header__timezone {
    visibility: hidden;
  }
  .header__links {
    gap: 7px;
    padding: 0;
  }
  .header__links-link {
    font-size: 14px;
  }
}

/* 425 */
@media screen and (max-width: 425px) {
  .header__logo {
    width: 42px;
    height: 11px;
  }
}
