.projects {
  margin-bottom: 400px;
}

.project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 10px;
  padding-top: 20px;
  border-top: 1px solid var(--transparent-black);
  margin-bottom: 280px;

  z-index: 100;
  position: relative;
}

/* .project:hover .project__image {
  opacity: 0.8;
  filter: blur(2px);
}

.project .project__image:hover {
  opacity: 1;
  filter: blur(0);
} */

.project__image {
  max-width: 654px;
  max-height: 490px;
}

.project-grid-link {
  grid-column: 2;
  grid-row: 2;
}

.project-grid__list {
  padding: 0;
}
.project__text {
  grid-column: 2;
  grid-row: 1;
}

/* .project__title {
}

.project__description {
} */

.project__link {
  font-family: "OpenSans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
  color: var(--semi-black);
  display: inline-block;
  margin-top: 6px;
}

.project__link:hover {
  color: var(--black);
  border-bottom: 1px solid var(--black);
}

.project__number {
  font-family: "TypyReg", "Gill Sans MT", "Trebuchet MS", sans-serif;
  display: inline-block;
}

@media screen and (max-width: 1070px) {
  .project {
    align-items: self-end;
    margin-bottom: 180px;
  }

  .project__image {
    max-width: 100%;
    max-height: 100%;
  }

  .project__text {
    margin-top: 20px;
    min-width: 480px;
    margin-bottom: 20px;
    max-width: 80%;
  }

  .project__link {
    font-size: 14px;
    margin-top: 6px;
  }
}

@media screen and (max-width: 768px) {
  .projects {
    margin-bottom: 180px;
  }
  .project {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
  }
  .project-grid__list {
    padding: 0;
  }
  .project__image {
    max-width: 100%;
    max-height: 100%;
  }

  .project__number {
    margin: 20px 0;
  }
  .project__text {
    max-width: 100%;
    min-width: 100%;
    margin: 0;
  }
}
